.git
.gitignore
.DS_Store

node_modules
**/node_modules
**/dist
**/build
**/.turbo
**/coverage
**/.cache

.env
**/.env
**/.env.*
!**/.env.example

.vercel
.wrangler
.wrangler-*

tmp
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
